USE [master]
GO
/****** Object:  Database [praktikaDB]    Script Date: 12/4/2019 3:33:18 PM ******/
CREATE DATABASE [praktikaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'praktikaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PRAKTIKASQL\MSSQL\DATA\praktikaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'praktikaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PRAKTIKASQL\MSSQL\DATA\praktikaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [praktikaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [praktikaDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 12/4/2019 3:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Rights] [varchar](50) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prekes]    Script Date: 12/4/2019 3:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prekes](
	[ID] [int] NOT NULL,
	[Pavadinimas] [varchar](50) NULL,
	[Kaina] [decimal](18, 2) NULL,
	[Nuotrauka] [varchar](50) NULL,
	[PrietaisoID] [int] NULL,
 CONSTRAINT [PK_Prekes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prietaisai]    Script Date: 12/4/2019 3:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prietaisai](
	[ID] [int] NOT NULL,
	[Pavadinimas] [varchar](50) NULL,
 CONSTRAINT [PK_Prietaisai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzsakymai]    Script Date: 12/4/2019 3:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzsakymai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PrekesID] [int] NULL,
	[AccountID] [int] NULL,
	[Data] [varchar](50) NULL,
	[Kiekis] [int] NULL,
 CONSTRAINT [PK_Uzsakymai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Uzsakymai]  WITH CHECK ADD  CONSTRAINT [FK_Uzsakymai_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[Uzsakymai] CHECK CONSTRAINT [FK_Uzsakymai_Accounts]
GO
USE [master]
GO
